<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>


<body id="home-page">

	<div id="wrapper" class="container">
		<div class="container" id="box">
			<h1 id="splashHeader">LocationApp</h1>
			<p id="splashPar">See Where your friends are traveling</p>	
		</div>

		<div id="buttons">	
			<%= link_to "Sign up", new_user_path, class: "btn btn-danger" %>
			<%= link_to "Login", sign_in_path, class: "btn btn-primary" %>

		</div>

	</div>

</body>






